<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Kadın</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/kahverengi kadın ceket.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Ceket</h6>
                                    <span>1200₺</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/elbise kadın .jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Elbise</h6>
                                    <span>900₺</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/gömlek kadın.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Gömlek</h6>
                                    <span>600₺</span>
                                </div>
                            </a>

                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/çanta kadın.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Çanta</h6>
                                    <span>700₺</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/pantolon kadın.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Pantolon</h6>
                                    <span>800₺</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/tişört kadın.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Tişört</h6>
                                    <span>500₺</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Erkek</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/ceket erkek.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Ceket</h6>
                                    <span>1200₺</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/tişört erkek.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Tişört</h6>
                                    <span>500₺</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/gömlek erkek.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Gömlek</h6>
                                    <span>600₺</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/pantolon erkek.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Pantolon</h6>
                                    <span>800₺</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/ayakkabı erkek.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Ayakkabı</h6>
                                    <span>700₺</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/cüzdan erkek.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Cüzdan</h6>
                                    <span>500₺</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Çocuk</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/çocuk tişört.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Tişört</h6>
                                    <span>500₺</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/gömlek çocuk.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Gömlek</h6>
                                    <span>700₺</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/ceket çocuk.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Ceket</h6>
                                    <span>900₺</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/elbise çocuk.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Elbise</h6>
                                    <span>800₺</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/şapka çocuk.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Şapka</h6>
                                    <span>400₺</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/ogani-master/ogani-master/img/ayakkabı çocuk.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Ayakkabı</h6>
                                    <span>700₺</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>